<!-- Section Header -->
<div class="section-header">
  {{ 'contactInformation' | localize }}
</div>

<!-- Progress Bar -->
<app-form-progress-bar [currentStep]="2"></app-form-progress-bar>

<!-- Register Form Container -->
<div class="register-container">
  <div class="form-box">

    <p class="form-instruction">
      {{ 'formInstruction' | localize }}
    </p>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <!-- First Name -->
      <label [ngClass]="{ 'label-invalid': submitted && registerForm.controls['firstName'].invalid }">
        {{ 'firstName' | localize }}: *
      </label>
      <input formControlName="firstName"
             [ngClass]="{ 'input-invalid': submitted && registerForm.controls['firstName'].invalid }" />

      <!-- Last Name -->
      <label [ngClass]="{ 'label-invalid': submitted && registerForm.controls['lastName'].invalid }">
        {{ 'lastName' | localize }}: *
      </label>
      <input formControlName="lastName"
             [ngClass]="{ 'input-invalid': submitted && registerForm.controls['lastName'].invalid }" />

      <!-- State -->
      <label [ngClass]="{ 'label-invalid': submitted && registerForm.controls['state'].invalid }">
        {{ 'state' | localize }}: *
      </label>
      <select formControlName="state"
              [ngClass]="{ 'input-invalid': submitted && registerForm.controls['state'].invalid }">
        <option value="">{{ 'selectState' | localize }}</option>
        <option *ngFor="let state of states" [value]="state">{{ state }}</option>
      </select>

      <!-- Email Instruction -->
      <p class="email-instruction">
        {{ 'emailInstruction1' | localize }} <br />
        {{ 'emailInstruction2' | localize }}
      </p>

      <!-- Email -->
      <label [ngClass]="{ 'label-invalid': submitted && registerForm.controls['email'].invalid }">
        {{ 'email' | localize }}: *
      </label>
      <input formControlName="email" type="email"
             [ngClass]="{ 'input-invalid': submitted && registerForm.controls['email'].invalid }" />

      <!-- Confirm Email -->
      <label [ngClass]="{ 'label-invalid': submitted && (registerForm.controls['confirmEmail'].invalid || registerForm.errors?.['emailMismatch']) }">
        {{ 'confirmEmail' | localize }}: *
      </label>
      <input formControlName="confirmEmail" type="email"
             [ngClass]="{ 'input-invalid': submitted && (registerForm.controls['confirmEmail'].invalid || registerForm.errors?.['emailMismatch']) }" />

      <!-- Checkbox -->
      <div class="form-checkbox">
        <input type="checkbox" formControlName="newsletter" id="newsletter" />
        <label for="newsletter">{{ 'subscribe' | localize }}</label>
      </div>

      <!-- Continue Button -->
      <div class="button-wrapper">
        <button type="submit" class="btn-submit">
          {{ 'continue' | localize }}
        </button>
      </div>

    </form>
  </div>
</div>
