<!-- Section Header -->
<div class="section-header">
  {{ 'login' | localize }}
</div>

<!-- Login Form Container -->
<div class="form-box">
  <form (ngSubmit)="login()">

    <!-- Instruction Text -->
    <label class="instruction-label">
      {{ 'loginInstruction' | localize }}
    </label>

    <!-- Password Label (Above input) -->
    <label for="password" class="form-label">
      {{ 'password' | localize }}*
    </label>
    <input
      type="password"
      id="password"
      [(ngModel)]="password"
      name="password"
      required
      [ngClass]="{ 'input-invalid': error }"
      placeholder="{{ 'password' | localize }}"
    />

    <!-- Error -->
    <div class="error" *ngIf="error">{{ error }}</div>

    <!-- Button -->
    <div class="button-wrapper">
      <button type="submit" class="btn-submit">
        {{ 'login' | localize }}
      </button>
    </div>

  </form>
</div>
